@charset "utf-8";
@import './normalize.css';

@font-face {
    font-family: "Quicksand Medium";
    src: url("/src/assets/fonts/quicksand/static/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand SemiBold";
    src: url("/src/assets/fonts/quicksand/static/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Lora Regular";
    src: url("/src/assets/fonts/lora/static/Lora-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    --accent-color: #4e54c8;
    --text-color: #000;
    --main-bg-color: #f4f6fa;
    --header-bg-color: #fff;
    --bottom-nav-text: #707f8d;
    --bottom-nav-bg: #fff;
    --tabs-bg: #f4f6fa;
    --tabs-bg-hover: #dbe0e3;
    --tabs-color: #222;
    --tabs-border-color: #e6e6e6;
    --btns-border-color: #e5e5e5;
    --btns-bg: #fff;
    --product-avability-state-available-bg: #f4faf6;
    --product-avability-state-available-text: #005a27;
    --modal-windows-bg: #fff;
    --modal-windows-tint: rgb(0 0 0 / 25%);
    --modal-elems-tint: rgba(255, 255, 255, 0.8);
    --modal-list-elem-bg: #f4f5f7;
    --modal-menu-hover-bg: rgb(231, 231, 255);
    --divider-color: #e6e6e6;
    --link-color: #3e77aa;
    --bundle-text: var(--text-color);
    --selected-bundle-text: #fff;
    --bundle-bg: transparent;
    --selected-bundle-bg: #0e0f0f;
    --bundle-border-color: #ccc;
    --selected-bundle-border-color: #0e0f0f;
    --placeholder-color: #b4b6b8;
    --searchbar-bg: #f2f4f5;
}

@media (prefers-color-scheme: dark) {
    body {
        --accent-color: #b7baff;
        --text-color: #fff;
        --main-bg-color: #212225;
        --header-bg-color: #121212;
        --bottom-nav-text: #7a7e80;
        --bottom-nav-bg: #292c2e;
        --tabs-bg: #121212;
        --tabs-bg-hover: #303233;
        --tabs-color: #fff;
        --tabs-border-color: #000;
        --btns-border-color: #2e2e2e;
        --btns-bg: #121212;
        --product-avability-state-available-bg: #1d211e;
        --product-avability-state-available-text: #a7ffcd;
        --modal-windows-bg: #292c2e;
        --modal-windows-tint: rgb(255 255 255 / 25%);
        --modal-elems-tint: var(--bottom-nav-bg);
        --modal-list-elem-bg: #222324;
        --modal-menu-hover-bg: rgb(100, 100, 100);
        --divider-color: #2e2e2e;
        --link-color: #63b6ff;
        --selected-bundle-text: #0e0f0f;
        --selected-bundle-bg: #fff;
        --bundle-border-color: #f2f4f5;
        --selected-bundle-border-color: #fff;
        --placeholder-color: #7a7e80;
        --searchbar-bg: #292c2e;
    }
}

.onAutoTheme {
    display: block;
}

.onDarkTheme,
.onLightTheme {
    display: none;
}

body.light {
    --accent-color: #4e54c8;
    --text-color: #000;
    --main-bg-color: #f4f6fa;
    --header-bg-color: #fff;
    --bottom-nav-text: #707f8d;
    --bottom-nav-bg: #fff;
    --tabs-bg: #f4f6fa;
    --tabs-bg-hover: #dbe0e3;
    --tabs-color: #222;
    --tabs-border-color: #e6e6e6;
    --btns-border-color: #e5e5e5;
    --btns-bg: #fff;
    --product-avability-state-available-bg: #f4faf6;
    --product-avability-state-available-text: #005a27;
    --modal-windows-bg: #fff;
    --modal-windows-tint: rgb(0 0 0 / 25%);
    --modal-elems-tint: rgba(255, 255, 255, 0.8);
    --modal-list-elem-bg: #f4f5f7;
    --modal-menu-hover-bg: rgb(231, 231, 255);
    --divider-color: #e6e6e6;
    --link-color: #3e77aa;
    --selected-bundle-text: #fff;
    --selected-bundle-bg: #0e0f0f;
    --bundle-border-color: #ccc;
    --selected-bundle-border-color: #0e0f0f;
    --placeholder-color: #b4b6b8;
    --searchbar-bg: #f2f4f5;
}

body.light .onLightTheme {
    display: block;
}

body.light .onDarkTheme,
body.light .onAutoTheme {
    display: none;
}

body.dark {
    --accent-color: #b7baff;
    --text-color: #fff;
    --main-bg-color: #212225;
    --header-bg-color: #121212;
    --bottom-nav-text: #7a7e80;
    --bottom-nav-bg: #292c2e;
    --tabs-bg: #121212;
    --tabs-bg-hover: #303233;
    --tabs-color: #fff;
    --tabs-border-color: #000;
    --btns-border-color: #2e2e2e;
    --btns-bg: #121212;
    --product-avability-state-available-bg: #1d211e;
    --product-avability-state-available-text: #a7ffcd;
    --modal-windows-bg: #292c2e;
    --modal-windows-tint: rgb(255 255 255 / 25%);
    --modal-elems-tint: var(--bottom-nav-bg);
    --modal-list-elem-bg: #222324;
    --modal-menu-hover-bg: rgb(100, 100, 100);
    --divider-color: #2e2e2e;
    --link-color: #63b6ff;
    --selected-bundle-text: #0e0f0f;
    --selected-bundle-bg: #fff;
    --bundle-border-color: #f2f4f5;
    --selected-bundle-border-color: #fff;
    --placeholder-color: #7a7e80;
    --searchbar-bg: #292c2e;
}

body.dark .onDarkTheme {
    display: block;
}

body.dark .onAutoTheme,
body.dark .onLightTheme {
    display: none;
}

body {
    /* height: 100%; */
    font-family: "Quicksand Medium", "Lora Regular";
    /* background-color: #f6f6f6; */
    /* background-color: #fff; */
    background: var(--main-bg-color);
    color: var(--text-color);

    overflow-x: hidden;
    /* overflow-y: auto; */
    scrollbar-gutter: stable;
}

a {
    text-decoration: none;
    /* color: var(--link-color); */
    color: inherit;
}

a:hover {
    /* text-decoration: underline; */
    /* color: #3e77aa; */
    cursor: pointer;
}

#app {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.subcategory__good__qos {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    overflow-y: hidden;
    overflow-x: auto;
}

.subcategory__good__qo {
    min-width: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    margin: 0 4px;
    border: 1px solid var(--bundle-border-color);
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    flex-shrink: 0;
    background-color: var(--bundle-bg);
    color: var(--bundle-text);
}

.good-overview__right__bundle-picker .subcategory__good__qo {
    height: 40px;
    padding: 12px 16px;
}

.subcategory__good__qo span {
    margin: 0 2px;
}

.subcategory__good__qo svg {
    display: none;
}

.subcategory__good__qo.checkmarked svg {
    display: block;
}

.subcategory__good__qo.checkmarked {
    /* padding-left: 8px; */
    /* border: 2px solid #4f55c8; */
    border: 1px solid var(--selected-bundle-border-color);
    background-color: var(--selected-bundle-bg);
    color: var(--selected-bundle-text);
}

.subcategory__good__qo.color {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.subcategory__good__qo.incompatible {
    opacity: 0.4;
    /* pointer-events: none; */
}

.subcategory__good__qo.color-circle {
    width: 20px;
    height: 20px;
    padding: 0;
    /* border: 1px solid grey; */
    /* border: 3px solid #fff; */
    border: 0.2px solid #d1d2cd;
    outline: 2px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}

.subcategory__good__qo.checkmarked.color-circle {
    outline: 2px solid #4f55c8;
}

.subcategory__good__qo svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.subcategory__good__qo.color svg {
    fill: var(--text-color);
    color: var(--text-color);
}

.subcategory__good__qo>button {
    background: none;
}

button {
    height: 45px;
    min-width: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--btns-bg);
    border: 1px solid var(--btns-border-color);
    color: var(--text-color);
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

button svg {
    width: 100%;
    height: 100%;
}

.liked .in-liked,
.not-in-liked,
.carted .in-cart,
.not-in-cart {
    display: flex;
}

.liked .not-in-liked,
.in-liked,
.carted .not-in-cart,
.in-cart {
    display: none;
}


.modal-window {
    /* Remember to change #filters */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    visibility: visible;
    pointer-events: all;
    user-select: auto;
    opacity: 1;
    z-index: 1500;
    background-color: var(--modal-windows-tint);
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
    /* content-visibility: auto; */
    /* backdrop-filter: blur(4px); */
}

.modal-window.hidden {
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    /* background-color: rgb(0 0 0 / 0%); */
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
}

.modal-content {
    width: 100%;
    max-width: 1520px;
    height: 100%;
    /* max-height: calc(calc(100% - 130px) * 0.8); */
    max-height: min(1000px, calc(calc(100% - 130px) * 0.9));
    top: 112px;
    left: calc(calc(100% - 1520px) / 2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--modal-windows-bg);
    border-radius: 16px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transform: scale(1);
    transition: transform 0.2s ease;
    overscroll-behavior-y: contain;
    visibility: inherit;
    pointer-events: inherit;
    user-select: inherit;
}

.modal-window.hidden .modal-content {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.modal-content__header {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    /*#040b14*/
    padding: 32px 16px 16px 24px;
    position: sticky;
    top: 0;
    /* margin-top: 16px; */
    background-color: var(--modal-elems-tint);
    z-index: 1501;
    font-weight: 900;
    font-size: 21px;
    line-height: 29px;
}

.modal-content__header__close>svg {
    width: 24px;
    height: 24px;
}

.modal-content__header__close {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content__shows-on-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content__shows-on-empty svg,
.modal-content__shows-on-empty img {
    width: 200px;
    max-width: 80%;
    height: 200px;
    margin-bottom: 18px;
}

.modal-content__shows-on-empty span {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-color);
}

.modal-content__shows-on-empty button {
    background: #6b4eff;
    color: #fff;
    border-radius: 48px;
    margin-top: 24px;
    padding: 16px 50px;
}

.modal-content__shows-on-unempty {
    width: 100%;
    /* height: 100%; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    list-style: none;
}

.modal-window .modal-content__shows-on-unempty,
.modal-window.empty .modal-content__shows-on-empty {
    display: flex;
}

.modal-window.empty .modal-content__shows-on-unempty,
.modal-window .modal-content__shows-on-empty,
.modal-window.loading .modal-content__shows-on-empty,
.modal-window.empty ul {
    display: none;
}

.modal-content__shows-on-loading .spinner {
    margin-right: 12px;
}

.modal-window .modal-content__shows-on-loading {
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.2s;
}

.modal-window.loading .modal-content__shows-on-loading {
    height: 48px;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s;
}

.modal-content__bottom-sticky {
    width: 100%;
    max-width: 650px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: inherit;
    flex-shrink: 0;
}

#component-content-heading {
    margin-left: 24px;
}

.loadingspinner {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.4em solid transparent;
    border-color: #eee;
    border-top-color: var(--accent-color);
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.unscrollable-hard {
    overflow: hidden;
    scrollbar-gutter: stable;
}

@media screen and (max-width: 1600px) {
    .modal-content {
        width: 95%;
        max-width: 100%;
        left: 2.5%;
    }
}

@media screen and (max-width: 768px) {
    .hides-on-mobile {
        display: none;
    }

    .modal-window {
        /* bottom: 58px; */
        z-index: 1400;
        overflow: hidden;
    }

    .modal-content {
        width: 100%;
        max-width: 100%;
        height: 99%;
        max-height: 99%;
        left: 0;
        top: 1%;
        padding-bottom: 58px;
        border-radius: 16px 16px 0 0;
        transform: translateY(0);
        pointer-events: all;
        box-shadow: none;
    }

    .modal-window.hidden .modal-content {
        transform: translateY(100%);
        pointer-events: none;
    }

    #modal-catalog__content__categories-list,
    #modal-catalog__content__category-content,
    #modal-cabinet__content__aside,
    #modal-cabinet__content__main {
        width: 100%;
        max-width: 100%;
        flex-shrink: 0;
    }

    #modal-catalog__content__categories-list,
    #modal-cabinet__content__aside {
        visibility: visible;
        pointer-events: all;
        transform: translateX(0);
        opacity: 1;
        transition: all 0.2s;
    }
}